.positionContainer {
    position: relative;
    height: 300px;
}

.box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
}

.static {
    position: static;
}

.relative {
    position: relative;
    top: 20px;
    left: 20px;
    background-color: #f9c2ff;
}

.absolute {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffa07a;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #a0ced9;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 8%;
    background-color: #b8daff;
}